.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__hdhSo {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: p4hYtdTx93lX92 */;
}
.freeBox__gufVv {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__gufVv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__gufVv > :global(.__wab_flex-container) > *,
.freeBox__gufVv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gufVv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gufVv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gufVv > :global(.__wab_flex-container) > *,
  .freeBox__gufVv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__eBg68 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__eBg68 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eBg68 > :global(.__wab_flex-container) > *,
.freeBox__eBg68 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__arser:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vt2Ys {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__zdFDb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__tiQdi {
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__tiQdi:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__kwGgl {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
}
.link__eiDgt {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__eiDgt:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__ce7Eu {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ce7Eu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ce7Eu > :global(.__wab_flex-container) > *,
.freeBox__ce7Eu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ce7Eu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ce7Eu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ce7Eu > :global(.__wab_flex-container) > *,
  .freeBox__ce7Eu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__co4Tk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__co4Tk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__co4Tk > :global(.__wab_flex-container) > *,
.freeBox__co4Tk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__tcSpb {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__nGfRz {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
}
.root .link__nGfRz:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wSkum {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__wSkum:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vxMzo {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__vxMzo:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__rDo1M {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__rDo1M:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qp2GT {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__qp2GT:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___1BbCr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___1BbCr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1BbCr > :global(.__wab_flex-container) > *,
.freeBox___1BbCr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__xkFzc {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___8GErq {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link___8GErq:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__eOyXw {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__eOyXw:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__s2O1X {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__s2O1X:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nj37I {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__nj37I:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___2EnR {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link___2EnR:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__bHzCu {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__bHzCu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bHzCu > :global(.__wab_flex-container) > *,
.freeBox__bHzCu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__q163T {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___1TNo2 {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link___1TNo2:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qF6UG {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__qF6UG:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hpDbC {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__hpDbC:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__yo9IO {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__yo9IO:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dQo9D {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__dQo9D:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___4Pa80 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox___4Pa80 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4Pa80 > :global(.__wab_flex-container) > *,
.freeBox___4Pa80 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__faIrh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.freeBox__f3IaZ {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
}
.freeBox__mFdLm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.freeBox__cywJp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1px;
  height: 16px;
  background: rgb(228, 230, 235);
  flex-shrink: 0;
}
.button {
  position: relative;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-style: none;
}
.svg__aSz9S {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  flex-shrink: 0;
}
.freeBox__sqprx {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: p4hYtdTx93lX92 */;
}
.freeBox___8IBd {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___8IBd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8IBd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8IBd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8IBd > :global(.__wab_flex-container) > *,
  .freeBox___8IBd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__aPbHh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__kk27G {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  height: auto;
  font-size: 14px;
}
.root .link__kk27G:hover {
  text-decoration-line: underline;
}
.link__xmVgo {
  position: relative;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  font-size: 14px;
}
.root .link__xmVgo:hover {
  text-decoration-line: underline;
}
.freeBox__twg1W {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: XpGdsDhafjvz71 */;
  display: inline-block;
}
.freeBox__vdSUm {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__vdSUm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vdSUm > :global(.__wab_flex-container) > *,
.freeBox__vdSUm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__wvfBk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___7KQnu {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___7KQnu:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___8Url5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__uyQng {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__uyQng:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__g3Dh0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__buowg {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__buowg:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
