.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___0Wctt {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox___0Wctt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___0Wctt > :global(.__wab_flex-container) > *,
.freeBox___0Wctt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__bZk2W:global(.__wab_instance) {
  position: relative;
}
.freeBox__zv6Wj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zv6Wj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zv6Wj > :global(.__wab_flex-container) > *,
.freeBox__zv6Wj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zv6Wj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zv6Wj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zv6Wj > :global(.__wab_flex-container) > *,
  .freeBox__zv6Wj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__a3X9J:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__f04X5 {
  font-size: 48px;
}
.freeBox__hqt7W {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__hqt7W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hqt7W > :global(.__wab_flex-container) > *,
.freeBox__hqt7W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__kIehr:global(.__wab_instance) {
  position: relative;
}
.bullet__otP1J:global(.__wab_instance) {
  position: relative;
}
.bullet__oebzc:global(.__wab_instance) {
  position: relative;
}
.plan__axkrd:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox___7Obap {
  font-size: 48px;
}
.freeBox___9LBq {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___9LBq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9LBq > :global(.__wab_flex-container) > *,
.freeBox___9LBq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__lJvGe:global(.__wab_instance) {
  position: relative;
}
.bullet__y3GLr:global(.__wab_instance) {
  position: relative;
}
.bullet__lbaYx:global(.__wab_instance) {
  position: relative;
}
.bullet__lsaBw:global(.__wab_instance) {
  position: relative;
}
.plan__aDjQe:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__pygoy {
  font-size: 48px;
}
.freeBox__vqTw {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__vqTw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vqTw > :global(.__wab_flex-container) > *,
.freeBox__vqTw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__qgK1:global(.__wab_instance) {
  position: relative;
}
.bullet__opqeR:global(.__wab_instance) {
  position: relative;
}
.bullet__nqQm2:global(.__wab_instance) {
  position: relative;
}
.section___2HhCr:global(.__wab_instance) {
  position: relative;
}
.faq__oty2M:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__zX939:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__ynX:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
